# Copyright (c) 2009-2012, 2014-2015, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import init.qcom.usb.rc
import init.qcom.power.rc

on early-init
    mkdir /firmware 0771 system system
    mkdir /system 0777 root root
    symlink /data/tombstones /tombstones
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug
    chown root system /dev/kmsg
    chmod 0620 /dev/kmsg

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /mnt/media_rw/uicc0 0700 media_rw media_rw
    mkdir /mnt/media_rw/uicc1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root
    mkdir /storage/uicc0 0700 root root
    mkdir /storage/uicc1 0700 root root
    mkdir /storage/usbotg 0700 root root

    export EXTERNAL_STORAGE /sdcard
    export SECONDARY_STORAGE /storage/sdcard1

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

on fs
    wait /dev/block/platform/soc.0/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc.0/${ro.boot.bootdevice} /dev/block/bootdevice

    mount_all fstab.qcom

    mkdir /persist/data 0700  system system
    restorecon_recursive /persist

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864
    write /sys/kernel/boot_adsp/boot 1
    chown root audio /sys/kernel/boot_adsp/boot

    # SSR setup
    write /sys/bus/msm_subsys/devices/subsys0/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys1/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys2/restart_level "related"

on boot
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /sys/module/hci_uart/parameters/ath_lpm
    chown bluetooth bluetooth /sys/module/hci_uart/parameters/ath_btwrite
    chown system system /sys/module/sco/parameters/disable_esco
    chown bluetooth bluetooth /sys/module/hci_smd/parameters/hcismd_set
    chown system system /sys/module/radio_iris_transport/parameters/fmsmd_set
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/module/radio_iris_transport/parameters/fmsmd_set
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /sys/module/hci_uart/parameters/ath_lpm
    chmod 0660 /sys/module/hci_uart/parameters/ath_btwrite
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    chmod 0660 /dev/ttyHS2
    chown bluetooth bluetooth /dev/ttyHS2

    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/device/extldo
    chmod 0660 /sys/class/rfkill/rfkill0/device/extldo

    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 2770 radio radio
    mkdir /dev/socket/qmux_audio 2770 media audio    
    mkdir /dev/socket/qmux_bluetooth 2770 bluetooth bluetooth
    mkdir /dev/socket/qmux_gps 2770 gps gps

    mkdir /persist/drm 0770 system system
    mkdir /persist/misc 0770 system system
    mkdir /persist/alarm 0770 system system
    mkdir /persist/display 0770 system graphics

    #Create NETMGR daemon socket area
    mkdir /dev/socket/netmgr 0750 radio radio
    
    # Prevents permission denied error for telephony
    chmod 0644 /proc/cmdline

    mkdir /persist/bluetooth 0770 bluetooth bluetoot

    setprop wifi.interface wlan0

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    #For bridgemgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/android_usb/f_rmnet_smd_sdio/transport

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

    # Set the console loglevel to < KERN_INFO
    # Set the default message loglevel to KERN_INFO
    write /proc/sys/kernel/printk "6 6 1 7"

    # Allow access for CCID command/response timeout configuration
    chown system system /sys/module/ccid_bridge/parameters/bulk_msg_timeout

    start rmt_storage

    # Wifi firmware reload path
    chown wifi wifi /sys/module/wlan/parameters/fwpath

    # access permission for secure touch
    chmod 0660 /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0020/secure_touch_enable
    chmod 0440 /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0020/secure_touch
    chmod 0660 /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0070/secure_touch_enable
    chmod 0440 /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0070/secure_touch
    chown system drmrpc /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0020/secure_touch_enable
    chown system drmrpc /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0020/secure_touch
    chown system drmrpc /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0070/secure_touch_enable
    chown system drmrpc /sys/devices/soc.0/78b9000.i2c/i2c-5/5-0070/secure_touch

    #add by lixh10 for vibrator intensity control 2015-3-16 start
    chown system system /sys/class/timed_output/vibrator/pwm_duty_ns
    #add by lixh10 for vibrator intensity control 2015-3-16 end

    #begin lenovo add by houdz1@lenovo.com
    chmod 0664 /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chmod 0664 /sys/class/leds/test-led/brightness
    chown system system /sys/class/leds/test-led/brightness
    chmod 0664 /sys/class/leds/rgbled/brightness
    chown system system /sys/class/leds/rgbled/brightness
    chmod 0664 /sys/class/leds/rgbled/trigger
    chown system system /sys/class/leds/rgbled/trigger
    chmod 0664 /sys/bus/i2c/devices/6-0036/dimming_step_time
    chown system system /sys/bus/i2c/devices/6-0036/dimming_step_time
    chmod 0664 /sys/class/leds/rgbled/delay_off
    chown system system /sys/class/leds/rgbled/delay_off
    chmod 0664 /sys/class/leds/rgbled/delay_on
    chown system system /sys/class/leds/rgbled/delay_on
    restorecon /sys/class/leds/rgbled/delay_off
    restorecon /sys/class/leds/rgbled/delay_on
    restorecon /sys/class/leds/button-backlight/brightness
    restorecon /sys/class/leds/test-led/brightness
    restorecon /sys/class/leds/rgbled/brightness
    #end lenovo add by houdz1@lenovo.com

    #lenovo-sw caoyi1 add for sensor calibration 20151222 begin
    chmod 0664 /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_x
    chown system system /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_x
    chmod 0664 /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_y
    chown system system /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_y
    chmod 0664 /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_z
    chown system system /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_z
    restorecon /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_x
    restorecon /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_y
    restorecon /sys/devices/soc.0/78b6000.i2c/i2c-0/0-000e/fast_calibration_z
    chmod 0664 /sys/devices/soc.0/78b6000.i2c/i2c-0/0-0023/cali_param_1
    chown system system /sys/devices/soc.0/78b6000.i2c/i2c-0/0-0023/cali_param_1
    chmod 0664 /sys/devices/soc.0/78b6000.i2c/i2c-0/0-0023/cali_param_2
    chown system system /sys/devices/soc.0/78b6000.i2c/i2c-0/0-0023/cali_param_2
    restorecon /sys/devices/soc.0/78b6000.i2c/i2c-0/0-0023/cali_param_1
    restorecon /sys/devices/soc.0/78b6000.i2c/i2c-0/0-0023/cali_param_2
    chmod 0664 /persist/gsensor_cali_val_x
    chown system system /persist/gsensor_cali_val_x
    chmod 0664 /persist/gsensor_cali_val_y
    chown system system /persist/gsensor_cali_val_y
    chmod 0664 /persist/gsensor_cali_val_z
    chown system system /persist/gsensor_cali_val_z
    restorecon /persist/gsensor_cali_val_x
    restorecon /persist/gsensor_cali_val_y
    restorecon /persist/gsensor_cali_val_z
    chmod 0664 /persist/cali_param_1
    chown system system /persist/cali_param_1
    chmod 0664 /persist/cali_param_2
    chown system system /persist/cali_param_2
    restorecon /persist/cali_param_1
    restorecon /persist/cali_param_2
    #lenovo-sw caoyi1 add for sensor calibration 20151222 end

    #lenovo-sw wengjun1 add 20160504 begin
    chown system system /sys/class/power_supply/ext-charger/fast_charger_is_engineermode
    chmod 0664 /sys/class/power_supply/ext-charger/fast_charger_is_engineermode
    chown system system /sys/class/power_supply/ext-charger/otg_usb_short
    chmod 0666 /sys/class/power_supply/ext-charger/otg_usb_short
    chown system system /sys/class/power_supply/ext-charger/charge_enabled
    chmod 0664  /sys/class/power_supply/ext-charger/charge_enabled
    #lenovo-sw wengjun1 add 20160504 end

    #lenovo-sw wengjun1 add 20160504 begin
    chown system system /sys/board_properties/tpd_glove_status
    chown system system /sys/board_properties/tpd_suspend_status
    chown system system /dev/rmi0
    chmod 0664 /sys/board_properties/tpd_suspend_status
    chmod 0664 /sys/board_properties/tpd_glove_status
    chmod 0660 /dev/rmi0
    #lenovo-sw wengjun1 add 20160504 end

    #lenovo-sw wengjun1 add 20160504 begin
    chmod 0755 /system/bin/vfmService
    chmod 0660 /dev/vfsspi
    chown system system /dev/vfsspi
    mkdir /dev/validity 0775 system system
    chmod 0660 /sys/bus/platform/devices/soc:fingerprint@0/shutdown
    chown system system /sys/bus/platform/devices/soc:fingerprint@0/shutdown
    start vfmService
    #lenovo-sw wengjun1 add 20160504 end

on property:sys.listeners.registered=true
     start vfmService

on post-fs
    # default country code
    setprop ro.boot.wificountrycode 00

    chmod 0755 /sys/kernel/debug/tracing

# msm specific files that need to be created on /data
on post-fs-data
    #Create directories for Fingerprint
    mkdir /data/validity 0775 system system

    # Create directory for TZ Apps
    mkdir /data/misc/qsee 0770 system system

    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/misc/camera 0770 camera camera

    mkdir /data/misc/ipa 0700 net_admin net_admin

    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

    # Create the directories used by CnE subsystem
    mkdir /data/connectivity 0771 system system

    # Create the directories used by DPM subsystem
    mkdir /data/dpm 0771 system system
    mkdir /data/dpm/nsrm 0771 system system

    # Create directory used by audio subsystem
    mkdir /data/misc/audio 0770 audio audio

    # Create directory used by the DASH client
    mkdir /data/misc/dash 0770 media audio

    # Create directory used by display clients
    mkdir /data/misc/display 0770 system graphics

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling

    # Chown polling nodes as needed from UI running on system server
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling

    #Create the symlink to qcn wpa_supplicant folder for ar6000 wpa_supplicant
    mkdir /data/system 0775 system system
    #symlink /data/misc/wifi/wpa_supplicant /data/system/wpa_supplicant

    #Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps
    mkdir /data/misc/location/gpsone_d 0770 system gps
    mkdir /data/misc/location/quipc 0770 gps system
    mkdir /data/misc/location/gsiff 0770 gps gps

    #Create directory from IMS services
    mkdir /data/shared 0755 system system

    #Create directory for FOTA
    mkdir /data/fota 0771 system system

    # Create /data/time folder for time-services
    mkdir /data/time/ 0700 system system

    mkdir /data/audio/ 0770 media audio

    setprop vold.post_fs_data_done 1

    #Create a folder for SRS to be able to create a usercfg file
    mkdir /data/data/media 0770 media media

    #Create folder for mm-qcamera-daemon
    mkdir /data/camera 0770 media camera

    #Create PERFD deamon related dirs
    mkdir /data/misc/perfd 2755 root system
    rm /data/misc/perfd/default_values
    mkdir /data/system/perfd 2770 root system
    rm /data/system/perfd/default_values
    start perfd

    # NFC local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

    # Sensor
    mkdir /persist/sensors 0770 system system

    #Create FM dir for patchdownloader
    mkdir /data/misc/fm 0770 system system

    #WAPI
    mkdir /data/misc/wapi_certificate 0770 system wifi

    # RIDL data
    mkdir /data/misc/SelfHost/ 0710 system shell
    mkdir /data/misc/SelfHost/QCLogs/ 2750 system shell
    mkdir /data/misc/SelfHost/QCLogs/temp/ 0700 system shell
    mkdir /data/misc/SelfHost/storage/ 0700 system shell
    mkdir /data/misc/SelfHost/Running/ 2750 system shell
    mkdir /data/misc/SelfHost/socket/ 2770 system system

    # Mark the copy complete flag to not completed
    write /data/misc/radio/copy_complete 0
    chown radio radio /data/misc/radio/copy_complete
    chmod 0660 /data/misc/radio/copy_complete

    # File flags for prebuilt ril db file
    write /data/misc/radio/prebuilt_db_support 1
    chown radio radio /data/misc/radio/prebuilt_db_support
    chmod 0400 /data/misc/radio/prebuilt_db_support
    write /data/misc/radio/db_check_done 0
    chown radio radio /data/misc/radio/db_check_done
    chmod 0660 /data/misc/radio/db_check_done

on property:sys.boot_completed=1
    write /dev/kmsg "Boot completed"

# corefile limit and ETB enabling
on property:persist.debug.trace=1
    mkdir /data/core 0777 root root
    write /proc/sys/kernel/core_pattern "/data/core/%E.%p.%e"
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/bus/coresight/devices/coresight-etm0/enable 0
    write /sys/bus/coresight/devices/coresight-etm1/enable 0
    write /sys/bus/coresight/devices/coresight-etm2/enable 0
    write /sys/bus/coresight/devices/coresight-etm3/enable 0
    write /sys/bus/coresight/devices/coresight-etm0/reset 1
    write /sys/bus/coresight/devices/coresight-etm1/reset 1
    write /sys/bus/coresight/devices/coresight-etm2/reset 1
    write /sys/bus/coresight/devices/coresight-etm3/reset 1
    write /sys/bus/coresight/devices/coresight-etm0/enable 1
    write /sys/bus/coresight/devices/coresight-etm1/enable 1
    write /sys/bus/coresight/devices/coresight-etm2/enable 1
    write /sys/bus/coresight/devices/coresight-etm3/enable 1
    write /sys/module/coresight_event/parameters/event_abort_enable 1

on property:bluetooth.isEnabled=true
    write /sys/class/bluetooth/hci0/idle_timeout 7000

service qcom-c_main-sh /system/bin/sh /init.class_main.sh
    class main
    user root
    oneshot

on property:vold.decrypt=trigger_restart_framework
    start qcom-c_main-sh
    start wcnss-service
    start config_bt_addr
    start vfmService
    stop camera-provider-2-4
    start camera-provider-2-4

on property:persist.env.fastdorm.enabled=true
    setprop persist.radio.data_no_toggle 1

service irsc_util /system/bin/irsc_util "/etc/sec_config"
    class main
    user root
    oneshot

service rmt_storage /system/bin/rmt_storage
    class core
    user root
    shutdown critical
    ioprio rt 0

service config_bt_addr /system/bin/btnvtool -O
    class core
    user bluetooth
    group bluetooth radio
    oneshot

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    class late_start
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

on property:bluetooth.hciattach=true
    start hciattach

# FM
on property:hw.fm.init=0
      write /sys/module/radio_iris_transport/parameters/fmsmd_set 0

on property:hw.fm.init=1
     write /sys/module/radio_iris_transport/parameters/fmsmd_set 1

service qseecomd /system/bin/qseecomd
   class core
   user root
   group root

service perfd /vendor/bin/perfd
   class main
   user root
   disabled

service thermal-engine /vendor/bin/thermal-engine
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   group root

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root

service wcnss-service /system/bin/wcnss_service
    class main
    user system
    group system wifi radio
    oneshot

service per_mgr /system/bin/pm-service
    class core
    user system
    group system net_raw

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics

# QMUX must be in multiple groups to support external process connections
service qmuxd /system/bin/qmuxd
    class main
    user root
    group radio audio bluetooth gps nfc oem_2901
    disabled

service netmgrd /system/bin/netmgrd
    class main
    user root
    group root wifi wakelock radio inet oem_2901
    disabled

# netmgr not supported on specific target
on property:ro.use_data_netmgrd=false
    stop netmgrd

#  we will start as root and wpa_supplicant will switch to user wifi
service wpa_supplicant /vendor/bin/hw/wpa_supplicant \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf -N \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -puse_p2p_group_interface=1 \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

#lenovo-sw weiweij added for fast_charger_sw fast charger switch dameon
service fast_charger_sw /system/bin/fast_charger_sw
    class main
    user root
    seclabel u:r:fast_charger_sw:s0
#lenovo-sw weiweij added for fast_charger_sw fast charger switch dameon end

#lenovo-sw, chenzz3, added fingerprint daemon service, begin
service vfmService /system/bin/vfmService
    user system
    group system
    class main
    seclabel u:r:vfmService:s0
#lenovo-sw, chenzz3, added fingerprint daemon service, end

#loc_launcher will start as root and set its uid to gps
service loc_launcher /vendor/bin/loc_launcher
    class late_start
    group gps inet net_raw oem_2901 net_admin wifi

# Adjust socket buffer to enlarge TCP receive window for high bandwidth (e.g. DO-RevB)
on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale  2

service ril-daemon2 /vendor/bin/hw/rild -c 2
    class main
    user radio
    group radio cache inet misc audio log readproc wakelock
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW

service charger /charger
    class charger
    group system graphics
    seclabel u:r:charger:s0

service msm_irqbalance /system/bin/msm_irqbalance -f /system/vendor/etc/msm_irqbalance.conf
    class core
    user root
    group root

on charger
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
    load_system_props
    setprop sys.usb.configfs 0
    start fast_charger_sw
